name: Manage PR "ui" label

on:
  pull_request:
    types: [opened, synchronize]

permissions:
  pull-requests: write
  issues: write

jobs:
  manage-ui-label:
    runs-on: ubuntu-latest
    steps:
      - name: Filter changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            ngui:
              - 'ngui/**'

      - name: Add "ui" label if ngui files changed
        if: steps.filter.outputs.ngui == 'true'
        uses: actions-ecosystem/action-add-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: ui

      - name: Remove "ui" label if no ngui files changed
        if: steps.filter.outputs.ngui != 'true'
        uses: actions-ecosystem/action-remove-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: ui
